html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro';
    /*background:rgb(11, 135, 250);*/
    background: #0d284b;
    margin:0;
    color:rgb(188, 232, 253);
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "body"
    "footer"
    "end";
}

header {
    grid-area: header;    
    display: grid;
    grid-template-columns: 80% auto;
    /*background: linear-gradient(45deg,#3c89ee, #084299);*/
    background:  linear-gradient(45deg,#e5f4ff, #235ca5);
    padding: 1.5em;    
}

header span {
    text-decoration:none;
    color: #0d284b;
    font-size:1.8em;
    font-weight:700;
}

header ul#sociallink {
    display: grid;
    grid-template-columns: repeat(3, auto);    
    justify-self: end;    
    grid-gap: 10px;
}

header ul#sociallink li a img{
    width: 30px;
}

header .contact img {   
    width: 20px;
}

header .contact span {
    display: inline;
    color: #0d284b;
    font-size:1em;
}

.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg {
    -webkit-clip-path: polygon(71% 73%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(71% 73%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    background-color: #a0cffa;
}

.bg2 {
    -webkit-clip-path: polygon(61% 68%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(61% 68%, 100% 0, 100% 100%, 0% 100%);
    z-index: -2;
    background-color: #3f5970;
}

.container {
    grid-area: body;
    display: grid;
    grid-template-columns: 70% auto;
    padding: 4em 2em;
    grid-gap: 25px;
}

.container img {
    border-radius: 30%;    
    width:180px;
    justify-self: center;
    border: 5px solid  rgba(236, 242, 247, 0.6);
}

footer {
    grid-area: footer;
    background: rgb(25, 99, 196);    
}


ul {
    display:grid;
    list-style-type:none;
    margin: 0 0 5px 0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;

    /*perspective: 1000px; */
}


footer ul li {
    padding: 2em;
    color:rgb(116, 163, 218);
    background: rgb(9, 69, 146);    

    /*
    display: grid;
    grid-template-columns: auto;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    width: 600px;
    */
}

/*
ul li:nth-child(1) {
    z-index: 2;    
    left: -105px;
}

ul li:nth-child(2) {
    z-index: 2;    
}

ul li:nth-child(3) {
    z-index: 2; 
    left: 105px;   
}
*/

ul li span {
    display: block;
    font-size:1.4em;
    margin-bottom:1em;
    color: #a0cffa;
}


.footend {
    grid-area: end;
    /*background: #402929;*/
    background: linear-gradient(45deg,#084299,#3c89ee);
    padding: 2em;    
}

.footend span {    
    color:white;
    font-size:1.5em;
    font-weight:400;
}


/* ============================== media query ============================== */

@media only screen and (max-width: 600px) {
         
    body {
        grid-template-areas: 
            "header"
            "body"
            "footer"            
            "end";
    }

    header {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        justify-content: start;
    }

    header ul#sociallink {
        grid-template-columns: repeat(3, auto);
        margin: 5px 0 20px 0;
        justify-self: start;
    }

    ul, .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container, .footend {
        text-align:center;
    }

    .bg {
       visibility: hidden;
    }

    .bg2 {
        visibility: hidden;
    }
}