html {
    height: 100%;    
    margin: 0;
}

body {
    height: 100%;
    margin: 0;    
    font-family: 'Source Sans Pro';
    /*background:rgb(11, 135, 250);*/
    background: #0d284b;
    margin:0;
    color:rgb(188, 232, 253);
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "body"
    "footer"
    "end";
}

header {
    grid-area: header;    
    display: grid;
    grid-template-columns: 80% auto;
    /*background: linear-gradient(45deg,#3c89ee, #084299);*/
    background:  linear-gradient(45deg,#b5d8f8, #235ca5);
    padding: 1.5em;    
}

header > div > span:nth-child(1) {    
    color: #0d284b;
    font-size:1.7em;
    font-weight:450;
}

header > div > span:nth-child(2) {    
    color: #0d284b;
    font-size:1.8em;
    font-weight:700;
}

header ul#sociallink {
    display: grid;
    grid-template-columns: repeat(3, auto);    
    justify-self: end;    
    grid-gap: 10px;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 4px, 0);
    }
  }


header ul#sociallink li:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

header ul#sociallink li a img{
    width: 30px;
}

header div#contact li:nth-child(-n+2) img:hover  { /* wobble effect apply to only first 2 icon (phone and email) */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


header #contact img {   
    width: 20px;
}

header #contact span {
    display: inline;
    color: #0d284b;
    font-size:1em;
}

.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg {
    -webkit-clip-path: polygon(71% 73%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(71% 73%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    background-color: #a0cffa;    
}

.bg2 {
    -webkit-clip-path: polygon(61% 68%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(61% 68%, 100% 0, 100% 100%, 0% 100%);
    z-index: -2;
    background-color: #3f5970;
}

.container {
    grid-area: body;
    display: grid;
    grid-template-columns: 70% auto;
    padding: 4em 2em;    
}

.container img {
    border-radius: 30%;    
    width:180px;
    justify-self: center;
    border: 5px solid  rgba(236, 242, 247, 0.6);    
    margin-right: 5px;
}

footer {
    grid-area: footer;
    background: rgb(25, 99, 196);    
}


ul {
    display:grid;
    list-style-type:none;
    margin: 0 0 5px 0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;

    /*perspective: 1000px; */
}

/*
footer ul li:hover{     
    border: 4px solid #a0cffa;
    cursor: pointer;
}
*/

footer ul li {
    padding: 2em;
    color:rgb(116, 163, 218);
    background: rgb(9, 69, 146);    
    overflow: hidden;        
    
    /*
    display: grid;
    grid-template-columns: auto;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    width: 600px;
    */
}

footer ul li img{
    width: 20px;    
    margin-right: 5px;
}

footer ul li span {
    display: inline;
}

/*
ul li:nth-child(1) {
    z-index: 2;    
    left: -105px;
}

ul li:nth-child(2) {
    z-index: 2;    
}

ul li:nth-child(3) {
    z-index: 2; 
    left: 105px;   
}
*/


ul li span {
    display: block;
    font-size:1.4em;
    margin-bottom:1em;
    color: #a0cffa;
}

footer ul li:hover {
       
    cursor: pointer;
}

footer ul li:hover span{         
    font-weight: 800;
    color: #a0cffa;    
}

/* -- curol top right ==================================================================================================== */

footer ul li {
    backface-visibility: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);    
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
}

footer ul li::before {
    background: rgba(0, 0, 0, 0) 
                linear-gradient(225deg, rgb(25, 99, 196) 45%, rgb(54, 94, 150) 30%, rgb(102, 137, 184) 55%, rgb(208, 240, 240) 90%) 
                repeat scroll 0 0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.5s;
    transition-property: width, height;
    width: 0;
}
footer ul li:hover::before, footer ul li:focus::before, footer ul li:active::before {
    height: 75px;
    width: 75px;
}

/* -- ========================================================================================================== */

/* -- model pop up ============================================================================================== */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* -- ========================================================================================================== */

.footend {
    grid-area: end;
    /*background: #402929;*/
    background: linear-gradient(45deg,#084299,#3c89ee);
    padding: 2em;    
}

.footend span {    
    color:white;
    font-size:1.5em;
    font-weight:400;
}


/* ============================== media query ============================== */

@media only screen and (max-width: 600px) {
         
    body {
        grid-template-areas: 
            "header"
            "body"
            "footer"            
            "end";
    }

    header {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        justify-content: start;
    }

    header ul#sociallink {
        grid-template-columns: repeat(3, auto);
        margin: 5px 0 20px 0;
        justify-self: start;
    }

    ul, .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container, .footend {
        text-align:center;
    }

    .bg {
       visibility: hidden;
    }

    .bg2 {
        visibility: hidden;
    }
}